{% extends 'base.html' %}
{% block content %}
    {{ block.super }}
	<div class="case">
		<div class="box">
			<p style="font-size:20px;color:#FFFFFF">&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp>>热门推荐</p>
			<ul class="case-list">
            {% for news in redu_news %}
				<li>
					<a href="{% url 'front:view' news_id=news.0 %}" target="_black">
						<div class="case_title">
							<div class="t1">{{ news.2 }}&nbsp&nbsp({{ news.1 }}&nbsp&nbsp{{ news.5 }})</div>
						</div>
					</a>
				</li>
            {% endfor %}
			</ul>
		</div>
	</div >
    

{% endblock %}